@charset "utf-8";/* Global Styles [Start]*/
.clear-all{clear:both;}.clear-left{clear:left;}.clear-right{clear:right;}
.fl{float:left !important;}.fr{float:right !important}.fn{float:none !important;}
.auto{width:auto !important;height:auto !important;}.wauto{width:auto !important;}.hauto{height:auto !important;}

.floatfix:before, .floatfix:after{content:""; display:table;}
.floatfix:after{clear:both;}
.floatfix{zoom:1;}


/* Border radius */
.brd-2{-webkit-border-radius:2px;-moz-border-radius:2px; border-radius:2px;}
.brd-4{-webkit-border-radius:4px;-moz-border-radius:4px; border-radius:4px;}
.brd-5{-webkit-border-radius:5px;-moz-border-radius:5px; border-radius:5px;}
.brd-6, button, a.btn, .form input, .form textarea{-webkit-border-radius:6px;-moz-border-radius:6px; border-radius:6px;}
.brd-8{-webkit-border-radius:8px;-moz-border-radius:8px; border-radius:8px;}

.nocvr{-webkit-border-radius:0px;-moz-border-radius:0px; border-radius:0px;}
.cvr-tl-4{-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;}
.cvr-tr-4{-webkit-border-top-right-radius:4px; -moz-border-radius-topright:4px; border-top-right-radius:4px;}
.cvr-br-4{-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;}
.cvr-bl-4{-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;}

.cvr-tl-8{-webkit-border-top-left-radius:8px;-moz-border-radius-topleft:8px;border-top-left-radius:8px;}
.cvr-tr-8{-webkit-border-top-right-radius:8px; -moz-border-radius-topright:8px; border-top-right-radius:8px;}
.cvr-br-8{-webkit-border-bottom-right-radius:8px;-moz-border-radius-bottomright:8px;border-bottom-right-radius:8px;}
.cvr-bl-8{-webkit-border-bottom-left-radius:8px;-moz-border-radius-bottomleft:8px;border-bottom-left-radius:8px;}

/* Misc */
.lowercase{text-transform:lowercase;}
.uppercase{text-transform:uppercase;}
.txt-center{text-align:center;}

/* Font Families */
.dfont{font-family:Arial, Helvetica, sans-serif;}

/* Fonts Styles */
.red-txt{color:#c90e0e !important;}
.grey-txt{color:#585757 !important;}
.black-txt{color:#272727 !important;}
.blue-txt{color:#0f5ccf !important;}

/* Fonts Sizes*/
.f5{font-size:5pt !important;}.f8{font-size:8px !important;}.f9{font-size:9px !important;}.f10{font-size:10px !important;}.f11{font-size:11px !important;}
.f14{font-size:14px !important;}.f16{font-size:16px !important;}.f18{font-size:18px !important;}

/* line height*/
.lh-14 {line-height:1.4em !important;}.lh-16{line-height:1.6em !important;}


/* Magin and Padding sets */
.no-mag{margin:0 !important;}.mauto{margin:0 auto !important;}.mag-2{margin:2px !important;}.mag-5{margin:5px !important;}.mag-8{margin:8px !important;}.mag-10{margin:10px!important;}
.no-pad{padding:0 !important;}.pad-2{padding:2px !important;}.pad-3{padding:3px !important;}.pad-5{padding:5px !important;}.pad-8{padding:8px !important;}
.pad-10{padding:10px !important;}


/* Table Padding*/
table th, table.pad-tbl td {padding:5px;}

/* Random Widths */
.w60{width:60px !important;}
.w80{width:80px !important;}
.w95{width:95px !important;}
.w100{width:100px !important;}
.w105{width:105px !important;}
.w180{width:180px !important;}
.w210{width:210px !important;}
.w250{width:250px !important;}
.w270{width:270px !important;}
.w280{width:280px !important;}
.w380{width:380px !important;}
.w420{width:420px !important;}
.w480{width:480px !important;}
.w500{width:500px !important;}
.w620{width:620px !important;}
.w650{width:650px !important;}
.w670{width:670px !important;}

/* Form */
.form{color:#343434; line-height:1.8em;}
.form input[type=text], .form input[type=password], .form input[type=email], .form input[type=search]
{background:#f9f9f9; width:260px; padding:6px 5px; border:1px #C1C1C1 solid !important; margin:3px 0;
-moz-box-shadow: inset 0px 0px 10px #ccc;
-webkit-box-shadow: inset 0px 0px 10px #ccc;
box-shadow: inset 0px 0px 10px #ccc;
}
.form input[type=text]:focus, .form input[type=password]:focus, .form input[type=email]:focus, .form input[type=search]:focus{
outline:none; border:1px #09367a solid !important;
-moz-box-shadow: inset 0px 0px 10px #ccc;
-webkit-box-shadow: inset 0px 0px 10px #ccc;
box-shadow: inset 0px 0px 10px #ccc;
}

.form textarea{width:300px; padding:3px; border:1px #d0d1e6 solid; margin:3px 0;}
.form input.date{width:80px; padding:2px;}
.form textarea, textarea{resize:vertical; font:12px Arial, Helvetica, sans-serif; overflow:auto;
-moz-box-shadow: inset 0px 0px 4px #ccc;
-webkit-box-shadow: inset 0px 0px 4px #ccc;
box-shadow: inset 0px 0px 4px #ccc;
}
.form select {width:250px; padding:5px; border:1px #d0d1e6 solid !important;}

.form .button{width:auto; border:none;}
.form .checkbox{width:3px; height:3px;}
.form .labels{width:140px; font-size:13px; line-height:1.4em; text-align:right; vertical-align:middle;}
.form .from{width:200px;}
.form .subject{width:500px;}
.asteric{color:#C00; font-weight:bold;}

.form table {width:100%; border-collapse:collapse;}
.form table td{padding:5px;}
.form tr.alt td{background:#f4f7fc;}
.form-bbm td{border-bottom:1px #dedede solid;}
.No-form-bbm td{border:none;}

.form .formTable{padding:0; margin:0; clear:both;}
.form .formTable li{list-style:none; clear:both; padding:0px 0;}

.form .tCnds{background:#fff; height:300px; padding:5px 10px; border:1px #999 solid; overflow:auto;}

/* Buttons */
button, .form input[type=submit], .form input[type=button], .form input[type=reset], .btn
{background:url(../images/blueStrip.png) repeat-x bottom #07f; color:#fff; font-size:14px; text-decoration:none !important; padding:8px 15px 10px; margin:5px 0;
border:none; cursor:pointer; display:block;
-moz-box-shadow:inset 0 -4px 0 #00369c; -webkit-box-shadow:inset 0 -4px 0 #00369c; box-shadow:inset 0 -4px 0 #00369c;
}

button:hover, .btn:hover, .form input[type=submit]:hover, .form input[type=button]:hover, .form input[type=reset]:hover,
{}

.btn-silver{background:url(../images/silverStrip.png) repeat-x bottom #fdfdfd; color:#485766; font-size:14px; text-decoration:none; border:1px #c8c8c8 solid; padding:5px 15px;}

.greyBtn{background:#eee; color:#2d2d2d; font-size:12px; font-weight:normal;  border:1px #d4d4d4 solid; padding:2px 5px;}

/* Global Styles [END] */

.reportLogo{text-align:center; margin:0px auto 0px;}
/* Grid [Start] */

.grid{background:#fff; width:1000px; font:normal 10pt 'open_sansregular', Calibri, sans-serif, Arial; border:1px #d4d4d4 solid; overflow:hidden; margin:0 auto;
-moz-box-shadow:0 1px 1px rgba(0,0,0,0.35); -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.35); box-shadow:0 1px 1px rgba(0,0,0,0.35);
}
.grid .mainHd{background:url(../images/report-hd-bg.png) repeat-x bottom #FEFEFE; color:#2e2e2e; font-size:16px; font-weight:normal; 
text-shadow:0 1px 1px #fff; padding:10px; margin:0; border-bottom:2px #257afb solid;}
.grid .sub-grid{width:98%; margin:5px auto 4px; overflow:hidden; border:1px #d4d4d4 solid;}

.grid table{border-collapse:collapse; margin-bottom:-1px;
}
.grid table thead tr{background:url(../images/report-hd-bg.png) repeat-x bottom #FEFEFE; }
.grid table tfoot tr{background:#f4f4f4;}
.grid table tfoot td{background:none; /*color:#757474;*/ font-style:italic; padding:10px;}

.grid table th, .grid table td{text-align:left; vertical-align:central; padding:10px;}
.grid table .tlabel{background:#bed2ef; width:140px; text-align:right; border-right:1px #dedfe1 solid;}

.grid table th{font-weight:bold; font-size:9pt; border-left:1px #ddd solid;}
.grid table th:first-of-type{border-left:none;}
.grid table th.tlabel{background:none; font-weight:bold;}

.grid table td{background:#e9f0f9; width:140px; padding:8px 10px; border:1px #dedfe1 solid; border-top:none; border-left:none; 
border-right:4px #fff solid;}
.grid table td:last-of-type{border-right:none;}
.grid .rpdisclamer{/*color:#707070;*/ color: Black; padding:0px 10px;}




/* Grid [END] */